.jumbotron{

    background-color:darkslategray;
  
    color: whitesmoke;
  
    text-align: center;
  
    padding:20px;
  
    font-family: Georgia, 'Times New Roman', Times, serif;
  
  }
  
  .brand-icon{
   font-size: 100px;
  
    text-align: center;
  
    padding: 10px;
  
  }
  
  .head{
  
    text-align: center;
    background-color:mintcream;
    margin: 10px;
    padding: 10px;
    font-size:80px;
    border-radius: 15px;
    border: 3px solid slategray;
  
  }
  body{
      background-image: url(2548748.jpg);
      background-size: 100%;
     
    
  }
  .row{
    padding: 10px;
  }
  .col{
    padding: 10px;
  
  }
  .card{
    padding: 10px;
  }
  h4{
    color: slategray;
  }
  button{
    color: whitesmoke;
    background-color: lightslategray;
    padding: 2px;
    }
    .button:hover { 
      background-color:darkslategray;

    }